<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="{% static 'poesias/css/lois.css' %}">
</head>
<body>

<header>
    <h1>Bem-vindo ao meu perfil!</h1>
</header>

<section>
    <h2>Sobre Mim</h2>
    <img src="{% static 'poesias/img/download.jpg' %}" alt="Foto do messi">
    <p>Olá! Meu nome é [Seu Nome] e sou aluno de Sistemas de Informação. Tenho paixão por tecnologia e estou sempre em busca de novos conhecimentos na área de desenvolvimento e programação.</p>
</section>

<section>
    <h2>Interesses</h2>
    <ul>
        <li>Desenvolvimento Web</li>
        <li>Inteligência Artificial</li>
        <li>Banco de Dados</li>
        <li>Programação em Python e Java</li>
    </ul>
</section>

<section>
    <h2>Projetos</h2>
    <p>Estou atualmente trabalhando em alguns projetos que envolvem:</p>
    <ul>
        <li>Um site de portfólio pessoal</li>
        <li>Uma aplicação de gerenciamento de tarefas</li>
        <li>Um chatbot utilizando IA</li>
    </ul>
</section>

<section>
    <h2>Contato</h2>
    <p>Você pode me enco
