{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Bem-vindo ao Evento</title> 
    <link rel="stylesheet" href="{% static 'fepi_tech_event/css/styles.css' %}">
</head>
<body>

<header>
    <h1>Bem-vindo ao Nosso Evento!</h1>
</header>

<section>
    <h2>Boas-vindas</h2>
    <p>Estamos muito felizes em recebê-lo no nosso evento! Prepare-se para um dia cheio de aprendizado, networking e diversão. Esperamos que você aproveite cada momento e faça conexões valiosas.</p>
    <img src="{% static 'fepi_tech_event/img/Logo-FEPI.png' %}" alt="fepi"> 
</section>

</body>
</html>
